<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Recent Video</h2>
                <hr class="light">
                <p><iframe width="560" height="315" src="https://www.youtube.com/embed/9L8OhyIy420" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gWOXx-gY0hY" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>

                <p><a href="https://www.youtube.com/channel/UCDKKAnNFwIjGhNDvCTycanw" target="_blank" class="btn btn-default btn-xl">Subscribe!</a></p>
            </div>
        </div>
    </div>
</section>