<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="/_includes/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
   
   
  </head>
  <body>
    <div class="user">
      <div class="tech">
       <h2>Views</h2>
      <i class="icon fa fa-youtube" style="color:red"></i>

    <p><div class="counter-container">
      
      <div class="counter" data-target="+34000"></div>
      
    </div>
  </p>


    </div>

    <div class="tech">
      <h2>Followers</h2>
     <i class="icon fa fa-instagram" style="color:rgb(149, 0, 179)"></i>

   <p><div class="counter-container">
     
     <div class="counter" data-target="+14235"></div>
     
   </div>
 </p>


   </div>

    <div class="tech">
      <h2>Listeners</h2>
     <i class="icon fa fa-spotify" style="color:rgb(0, 255, 21)"></i>

   <p><div class="counter-container">
     
     <div class="counter" data-target="+30000"></div></p>
       
   </div>
 


   </div>



    </div>
    



    
    

    
    <script src="script.js"></script>
  </body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
