<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
 
  <link rel="stylesheet" href="./styl.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
   
   
  </head>
  <body>
    <div class="user">

    <div class="tech">
      <center><h2>Youtube Views</h2>
      <p>
        <i class="icon fa fa-youtube"></i>
    <div class="counter-container">
      
      <div class="counter" data-target="+30000"></div>
      <a class="project-link" href="#">Subscribe!</a>
    </div>
  </p>
</center>

    </div>
    <div class="tech">
      <center><h2>Youtube Views</h2>
      <p>
        <i class="icon fa fa-youtube"></i>
    <div class="counter-container">
      
      <div class="counter" data-target="+30000"></div>
      <a class="project-link" href="#">Subscribe!</a>
    </div>
  </p>
</center>

    </div>
    <div class="tech">
      <center><h2>Youtube Views</h2>
      <p>
        <i class="icon fa fa-youtube"></i>
    <div class="counter-container">
      
      <div class="counter" data-target="+30000"></div>
      <a class="project-link" href="#">Subscribe!</a>
    </div>
  </p>
</center>

    </div>
    </div>

    
    <script src="script.js"></script>
  </body>
</html>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
