
  <div class="user">
  <div class="tech">
    <h2>Views</h2>
    <i class="fa-brands fa-youtube fa-2x" style="color:red" ></i>
   
    <p><h1>201,321</h1></p>
    <p><a class="project-link" target="_blank" href="https://www.youtube.com/channel/UCDKKAnNFwIjGhNDvCTycanw?sub_confirmation=1">Main Channel</a></p>
    <p><a class="project-link" target="_blank" href="https://www.youtube.com/channel/UCgS4_VYlXfAKTBsoyN-nmzQ?sub_confirmation=1">Podcast Channel</a></p>
  </div>

  <div class="tech">
    <h2>Followers</h2>
    <i class="fa-brands fa-instagram fa-2x" style="color: blueviolet;"></i>
   
    <p><h1>15,785+</h1></p>
    <p><a class="project-link" target="_blank" href="https://www.instagram.com/imchecotech/">@ImChecoTech</a></p>
    <p><a class="project-link" target="_blank" href="https://www.instagram.com/thechecotechpodcast/">@TheCheCoTechPodcast</a></p>
  </div>

  <div class="tech">
    <h2>Listeners</h2>
    <i class="fa-brands fa-spotify fa-2x" style="color:rgb(0, 255, 42)" ></i>
    <p><h1>1865+</h1></p>
   
    <p><a class="project-link" target="_blank" href="https://anchor.fm/thechecotechpodcast">Listen now!</a></p>
    
  </div>

  