
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        
        <a aria-label="Send email" href="mailto:sandro@imchecotech.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My instagram" target="_blank" href="https://instagram.com/imchecotech"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Youtube" target="_blank" href="https://youtube.com/@imchecotech"><i class="icon fa fa-youtube" aria-hidden="true"></i></a>
        <a aria-label="My YTwitter" target="_blank" href="https://twitter.com/imchecotech"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/ImCheCoTech"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My twitch " target="_blank" href="https://www.twitch.tv/imchecotech"><i class="icon fa fa-twitch" aria-hidden="true"></i></a>
        <a aria-label="My Spotify" target="_blank" href="https://open.spotify.com/show/3zgiQmFN86hLYQNdHSGJng"><i class="icon fa fa-spotify"></i></a>
        
        
      
        
        
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
      
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
