<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Human knowledge belongs to the world</h1>
            <hr>
            <span style="color:rgb(0, 0, 0)"><p>I'm Sandro also know as @ImCheCotech.</p> 
                <p> Welcome to my world, where I will be sharing all my knowledge accumulated over the past 15 year for tech, computers and gaming!</p></span>
            <a href="https://github.com/imchecotech/media/blob/main/Imchecotech%20-%20Media%20Kit%202022.pdf" target="_blank" class="btn btn-primary btn-xl page-scroll">Media Kit 2022</a>
        </div>
    </div>
</header>
