<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            
                <center><h2 class="section-heading">PodCast</h2></center>
                <hr class="light">
                <div class="container-fluid">
                    <div class="row no-gutter">
<p>Podcast text here</p>

                        

                        

                        

                        

                        

                        


                        

                        
                 
                        
                       
                      
                        
                

                
            </div>
            
        </div>
        <p><center><a href="" target="_blank" class="btn btn-default btn-xl">Listen!</a></center></p>
    </div>
</section>