<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
                <!-- The image has scrolling behavior to left -->
                <marquee   direction="left">        
                    <a href="https://eu.gameoverstore.co.uk/?p=SyD8GUm55" target="_blank" >
                        <img src="/img/partners/1.png"
                      alt="GameOver UK"> 
                    </a>
                       
                    <a href="https://www.floatinggrip.com/ref/sandro.pages/" target="_blank" >
                        <img src="/img/partners/2.png"
                      alt="Floating Grips"> 
                    </a>
                      
                    <a href="https://www.pny.com/gaming" target="_blank" >
                        <img src="/img/partners/3.png"
                      alt="PNY"> 
                    </a>
                    
                    <a href="https://cololight.com/" target="_blank" >
                        <img src="/img/partners/4.png"
                      alt="ColoLight"> 
                    </a>

                    <a href="https://www.edifier.com/" target="_blank" >
                        <img src="/img/partners/5.png"
                      alt="Edifier"> 
                    </a>
                </marquee>  
            
            </div>
        </div>
    </div>
</section>
