<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Recent Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
                <!-- The image has scrolling behavior to left -->
                <marquee  behavior="scroll" direction="left">        
                    <a href="https://eu.gameoverstore.co.uk/?p=SyD8GUm55" target="_blank" >
                        <img src="/img/partners/1.png"
                      alt="GameOver UK"> 
                    </a>
                       
                    <a href="https://eu.gameoverstore.co.uk/?p=SyD8GUm55" target="_blank" >
                        <img src="/img/partners/2.png"
                      alt="GameOver UK"> 
                    </a>
                      
                    <a href="https://eu.gameoverstore.co.uk/?p=SyD8GUm55" target="_blank" >
                        <img src="/img/partners/1.png"
                      alt="GameOver UK"> 
                    </a>
                    
                    <a href="https://eu.gameoverstore.co.uk/?p=SyD8GUm55" target="_blank" >
                        <img src="/img/partners/2.png"
                      alt="GameOver UK"> 
                    </a>
                </marquee>  
            
            </div>
        </div>
    </div>
</section>
