<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            
                <center><h2 class="section-heading">Recent Videos</h2></center>
                <hr class="light">
                <div class="container-fluid">
                    <div class="row no-gutter">

                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/dwjAJRyxOxM" target="_blank" class="portfolio-box">
                                <img src="img/youtube/9.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            Razer Viper Ultimate : Still the BEST!
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/P6FsSRPqRBs" target="_blank" class="portfolio-box">
                                <img src="img/youtube/8.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            Acer Predator Triton 300Se Review: Play everywhere!
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/zZMqzFgQxaU" target="_blank" class="portfolio-box">
                                <img src="img/youtube/7.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            SoundCore Space Q45 Review:  The Battery king! 👑
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                        

                        
                 
                        
                       
                      
                        
                

                
            </div>
            
        </div>
        <p><center><a href="https://www.youtube.com/channel/UCDKKAnNFwIjGhNDvCTycanw" target="_blank" class="btn btn-default btn-xl">Subscribe!</a></center></p>
    </div>
</section>