<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            
                <center><h2 class="section-heading">Recent Videos</h2></center>
                <hr class="light">
                <div class="container-fluid">
                    <div class="row no-gutter">

                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/oCVAJSM9zDc" target="_blank" class="portfolio-box">
                                <img src="img/youtube/5.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            ChromeOs Flex: A love & hate relationship!
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://www.youtube.com/watch?v=YkcnVvUcrw4" target="_blank" class="portfolio-box">
                                <img src="img/youtube/4.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            Creative Zen Hybrid Headphones Review
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/9L8OhyIy420" target="_blank" class="portfolio-box">
                                <img src="img/youtube/1.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            Joby Swing Review
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                      
                        <div class="col-lg-4 col-sm-6">
                            <a href="https://youtu.be/oCVAJSM9zDc" target="_blank" class="portfolio-box">
                                <img src="img/youtube/5.jpg" class="img-responsive" alt="">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            
                                        </div>
                                        <div class="project-name">
                                            ChromeOs Flex: A love & hate relationship!
                                        </div>
                                    </div>
                                </div>
                            </a>
                

                
            </div>
            
        </div>
        <p><center><a href="https://www.youtube.com/channel/UCDKKAnNFwIjGhNDvCTycanw" target="_blank" class="btn btn-default btn-xl">Subscribe!</a></center></p>
    </div>
</section>