<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
                <!-- The image has scrolling behavior to left 
                <marquee   direction="left">   -->     
                    <center><a href="https://gameoverstore.co.uk/?p=HJuRl3yIo" target="_blank" >
                        <img src="/img/partners/1.png"
                      alt="GameOver UK"> 
                    </a>
                       
                    <a href="https://www.floatinggrip.com/ref/sandro.pages/" target="_blank" >
                        <img src="/img/partners/2.png"
                      alt="Floating Grips"> 
                    </a>
                    <!--a href="https://moman.co/imchecotech-ML9" target="_blank" >
                      <img src="/img/partners/6.png"
                    alt="Moman"> 
                  </a> -->
                    
                    </center>
                    

                    
                  
            
            </div>
        </div>
    </div>
</section>
