<!DOCTYPE html>
<html lang="en">
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

  <link rel="icon" href="/img/favicon.ico" type="image/x-icon"> <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include youtube.html %}
  {% include partners.html %}
  {% include portfolio.html %}
  {% include contact.html %}
  {% include scripts.html %}
  
  <center><p><img src="/img/logo.png" alt="Logo" width="50" height="50"></p>
  <p><b>© 2022 IMCHECOTECH</b></p></center>
</body>

</html>